:root {
  --color-primary: #0b0c10;
  --color-primary-text: #66fcf1;
  --color-secondary: #45a29e;
  --color-secondary-text: #0b0c10;
  --background: #1f2833;
  background: var(--background);
}
input {
  background: var(--color-secondary);
}
/* Remove arrows from input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  /* Remove select's arrow */
  appearance: none;
}

.theme-dark {
  --color-primary: #0b0c10;
  --color-primary-text: #66fcf1;
  --color-secondary: #45a29e;
  --color-secondary-text: #0b0c10;
  --background: #1f2833;
}

.theme-light {
  --color-primary: #55bcc9;
  --color-primary-text: #d44949;
  --color-secondary: #691919;
  --color-secondary-text: #4bdfec;
  --background: #f7f9fb;
}

.inline-datepicker {
  display: inline;
}
.inline-datepicker div {
  display: inline;
}
